h1{
	color:#3D2498;
	text-align: center;
}
body {
	background-color: #F5D1D1;
	font-family: Verdana;
	text-align: center; 
}
#credit{
	font-weight: bold;
	text-align: center; 
}
img {
	width: 300px;
	height: auto;
	text-align: center;
}
ul { 
list-style-position: inside;
}
#other {
	text-align: left;
}